/* ============= VARIABLES Y RESET ============= */

:root {
    --bg-color: #101922;
    --card-color: #16202e;
    --shadow-color: #00000056;
    --line-color: #1e293b;
    --text-color: #ffffff;
    --text-color2: #94a3b8;
    --text-light: #adb5bf;
    --btn-color: #0d7ff2;
    --btn-light: #4098ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* ============= HEADER ============= */

.portfolio__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.header__title {
    margin-left: 2rem;
    cursor: default;
}

.header__social {
    margin-right: 2rem;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 5rem;
}

.item__link {
    text-decoration: none;
    color: var(--text-color2);
    transition: color 0.3s;
}

.item__link:hover {
    color: var(--text-light);
}

.social__link {
    text-decoration: none;
    color: var(--text-color2);
    transition: color 0.3s;
}

.social__link:hover {
    color: var(--text-light);
}

.social__github {
    margin-right: 1rem;
}

/* ============= MAIN - SECCIONES ============= */

.main__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 8.5rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__image {
    display: flex;
    justify-content: center;
}

.section__title {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.section__text {
    color: var(--text-color2);
    font-size: 1.6rem;
    text-align: left;
}

.secction__link {
    text-decoration: none;
    color: var(--text-color);
}

.main__btn {
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 0.8rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s linear;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
}

.main__btn:hover {
    background-color: var(--btn-light);
}

.section__img {
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 50%;
}

/* ============= PROJECTS ============= */

.section__projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
    justify-items: center;
    text-align: center;
}

.section__projects .section__title {
    grid-column: 1 / -1;
    margin-bottom: 3rem;
}

.article__img {
    display: block;
    width: 100%;
    max-width: 35rem;
    height: auto;
    border-radius: 2rem 2rem 0 0;
    aspect-ratio: 16/9;
    object-fit: cover;
}


.article__div {
    background-color: var(--card-color);
    padding: 1.5rem;
    border-radius: 0 0 2rem 2rem;
}

.article__title {
    margin-bottom: 1rem;
}

.article__text {
    color: var(--text-color2);
}

.main__article {
    cursor: pointer;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px var(--shadow-color);
    transition: transform 0.3s ease;
}

.main__article:hover {
    transform: translateY(-5px);
}

/* ============= CERTIFICATIONS ============= */

.section__link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.article__text {
    color: var(--text-color2);
}

.section__cert {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}

.section__cert .main__article {
    max-width: 35rem;
    width: 100%;
}

.section__cert .article__img {
    width: 100%;
    height: 380px;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
}


/* ============= SKILLS ============= */

.section__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

.skills__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.skill__card {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--card-color);
    color: var(--text-color);
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px var(--shadow-color);
    font-weight: 500;
    cursor: default;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill__card:hover {
    transform: translateY(-5px);
}

.skill__card svg {
    width: 2rem;
    height: 2rem;
    color: var(--text-color);
}

.skill__span {
    font-size: 1.2rem;
}

/* ============= FOOTER ============= */

.portfolio__footer {
    display: grid;
    text-align: center;
    padding: 3rem;
    border-top: 1px solid var(--line-color);
}

.footer__social .social__link {
    text-decoration: none;
    padding: 1rem;
    color: var(--text-color2);
    transition: color 0.3s;
}

.footer__social .social__link:hover {
    color: var(--text-light);
}

.footer__icon {
    width: 2rem;
    height: 2rem;
}

.footer__small {
    color: var(--text-color2);
    padding-top: 2rem;
    font-size: 1rem;
}

/* ============= MEDIA QUERIES ============= */

/* -- SMALL DEVICES -- */
@media (max-width: 768px) {

    .portfolio__header {
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
    }

    .header__title {
        margin-left: 0;
    }

    .nav__list {
        flex-direction: row;
        padding: 0.8rem;
        gap: 1.5rem;
    }

    .header__social {
        margin-right: 0;
    }

    .main__section {
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
        text-align: center;
    }

    .section__img {
        width: 350px;
        height: 350px;
    }

    .section__title {
        font-size: 2rem;
    }

    .section__text {
        font-size: 1rem;
        max-width: 80%;
        margin: 0 auto;
    }

    .main__btn {
        margin: 1rem auto;
    }

    .section__projects {
        grid-template-columns: 1fr;
    }

    .skills__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-items: center;
    }

    .skill__card {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 0.5rem;
        width: 90%;
        min-height: 60px;
        padding: 1rem 0.8rem;
        border-radius: 0.8rem;
    }

    .skill__card svg {
        width: 1.8rem;
        height: 1.8rem;
    }

    .skill__span {
        font-size: 0.95rem;
    }

    .footer__social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* -- MEDIUM DEVICES -- */
@media (max-width: 1300px) {

    .section__img {
        width: 350px;
        height: 350px;
    }

    .section__title {
        font-size: 2.5rem;
    }

    .section__projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .article__title {
        font-size: 1.5rem;
    }

    .skills__grid {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .skill__card {
        padding: 1.2rem 1.5rem;
    }

    .skill__span {
        font-size: 1.5rem;
    }
}