/* GENERAL */

:root {
    --bg-color: #101922;
    --card-color: #16202e;
    --shadow-color: #00000056;
    --line-color: #1e293b;
    --text-color: #ffffff;
    --text-color2: #94a3b8;
    --text-light: #adb5bf;
    --btn-color: #0d7ff2;
    --btn-light: #4098ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* HEADER */

.portfolio__header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 1rem;
}

.portfolio__header .header__title {
    margin-left: 2rem;
    cursor: default;
}

.portfolio__header .header__social {
    margin-right: 2rem;
}

.portfolio__header .nav__list {
    display: flex;
    list-style: none;
    gap: 5rem;
}

.portfolio__header .item__link {
    text-decoration: none;
    color: var(--text-color2);
}

.portfolio__header .item__link:hover {
    color: var(--text-light);
}

.portfolio__header .social__link {
    text-decoration: none;
    color: var(--text-color2);
}

.portfolio__header .social__link:hover {
    color: var(--text-light);
}

.portfolio__header .social__github {
    margin-right: 1rem;
}

/* MAIN */

/* SKILLS SECTION */

.main__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 8.5rem;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__image {
    display: flex;
    justify-content: center;
}

.portfolio__main .section__title {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.portfolio__main .section__text {
    color: var(--text-color2);
    font-size: 1.6rem;
}

.portfolio__main .main__btn {
    background-color: var(--btn-color);
    color: var(--text-color);
    padding: 0.8rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0.3rem;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms linear;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
}

.portfolio__main .main__btn:hover {
    background-color: var(--btn-light);
}

.portfolio__main .section__img {
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 100%;
}

.section__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    text-align: center;
}


.section__projects .section__title {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 3rem;
}

.article__img {
    display: block;
    height: 100%;
    width: 35rem;
    border-radius: 2rem 2rem 0 0;
}

.article__div {
    background-color: var(--card-color);
    padding: 1.5rem;
    border-radius: 0 0 2rem 2rem;
}

.main__article {
    cursor: pointer;
    box-shadow: 5px 5px 15px 0px var(--shadow-color);
    border-radius: 2rem;
    transition: transform 0.3s ease;
}

.main__article:hover {
    transform: translateY(-5px);
}

/* SKILLS SECTION */

.section__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.skills__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.skill__card {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--card-color);
    color: var(--text-color);
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px var(--shadow-color);
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-weight: 500;
    cursor: default;
}

.skill__card:hover {
    transform: translateY(-5px);
}

.skill__card svg {
    width: 2rem;
    height: 2rem;
    color: var(--text-color);
}

.skill__span{
    font-size: 1.2rem;
}

/* FOOTER */

.portfolio__footer{
    display: grid;
    text-align: center;
    padding: 3rem;
    border-top: 1px solid var(--line-color);
}

.footer__social .social__link{
    text-decoration: none;
    padding: 1rem;
    color: var(--text-color2);
}

.footer__social .social__link:hover{
    color: var(--text-light);
}

.footer__icon{
    height: 2rem;
    width: 2rem;
}

.footer__small{
    color: var(--text-color2);
    padding-top: 2rem;
    font-size: 1rem;
}